#Contact{
    
}
.contact-text{
    margin-top: 30px;
    padding: 0px 11%
}
form{
    width: 361px;

}
.contact-form{
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form-content{
    width: 361px;
}
.footer-cat {
    position: relative;
    top: 170px;
    right: 200px;
    z-index: 1;
    margin-top: -150px;
}